<% include partials/header %>
    <div style="height:100vh;background:white;padding:20px;">
        <h4 style="margin-top:0px;">Dashboard</h4>
        <div class="divider"></div>
        <br>
    </div>    
<% include partials/footer %>

